<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SyncTunes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat';
    }
    .header {
        background-color: black;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .header-item {
        color: white;
        flex-grow: 1;
        padding: 10px;
        text-align: center;
    }
    .link {
        color: white;
        text-decoration: none;
    }
    .spotify-button {
        margin: auto;
        margin-top: 30vh;
        padding: 10px 20px;
        background-color: #20d760;
        color: white;
        border-radius: 20px; 
        max-width: 20vw;
        text-align: center;
    }
    .footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
<body>
    <div class="header">
        <div class="header-item"><a class="link" href="/">Home</a></div>
        <div class="header-item"><a class="link" href="/dashboard">Dashboard</a></div>
        <div class="header-item"><a class="link" href="/insights">Insights</a></div>
        <div class="header-item"><a class="link" href="/compare">Compare</a></div>
        <div class="header-item"><a class="link" href="/search">Search</a></div>
        <div class="header-item"><a class="link" href="/login">Login</a></div>
    </div>
    <div class="body">
        <%- body %> 
    </div>
    <div class="footer">
        Proudly made by CESesh :D
    </div>
</body>
</html>