<style>
    .home-wrapper {
        padding: 100px;
    }
    .text {
        font-size: 130px;
    }
    .highlight {
        color: white;
        background-color: black;
        padding: 0 10px;
    }
</style>

<div class="home-wrapper">
    <div class="text">
        Welcome to <span class="highlight">SyncTunes</span>
    </div>
</div>
