<script>
    var login = document.querySelectorAll(".header-item");
    login[5].innerHTML = `<a class="link" href="/logout">Logout</a>`;
</script>

<style>
    .search-wrapper {
        padding: 100px;
        display: flex;
        flex-direction: column;
    }
    .search-title {
        text-align: center;
        font-size: 40px;
        padding: 0px 0px 30px 0px;
    }
    .search-form {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-bar {
        font-size: 20px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 5px 0px 0px 5px;
    }
    .search-bar:focus {
        outline: none;
    }
    .search-button {
        font-size: 20px;
        padding: 5px 10px;
        color: white;
        background-color: black;
        border: 1px solid black;
        border-radius: 0px 5px 5px 0px;
    }
    .serach-result-table {
        width: 100%;
        padding-top: 10px;
    }
    .serach-result-table > tbody > tr > td {
        text-align: center;
        font-size: 25px;
    }
</style>

<div class="search-wrapper">
    <div class="search-title">Search for your friend!</div>
    <form action="/search" method="get" class="search-form">
        <input type="text" name="user" class="search-bar" value="<%= query %>">
        <input type="submit" value="search" class="search-button">
    </form>
    <% if (results.length) { %>
        <div style="text-align: center; font-size: 25px; padding-top: 40px;">Found <%= results.length %> people(s): </div>
        <table class="serach-result-table">
            <% for( let index = 0; index < results.length; index++ ) { %>
            <tr>
                <td> <%= results[index].display_name %>  </td>
            </tr>
            <% } %>
        </table>
    <% } else { %>
        <div style="text-align: center; padding-top: 40px; font-size: 25px;">No results found!</div>
    <% } %>
     
</div>
